body {
  background: url("/img/svgs/About.svg");
  background-size: cover;
}

.header-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
}

.header-title h2 {
  color: #444;
  vertical-align: middle;
  font-size: 45px;
  font-weight: 600;
}

.header-info-text {
  display: -webkit-box;
  display: -ms-flexbox;
  text-align: center;
  display: flex;
  padding-top: 2%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 25%;
  width: 50%;
}

.header-info-text p {
  color: black;
  font-size: 20px;
  font-weight: 600;
  margin-right: 10%;
}


.card-container-left {
  border-top-right-radius: 15%;
  border-bottom-right-radius: 15%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-right: 32px;
}

.card-container-left::after {
  content: '';
  z-index: -1;
  position: absolute;
  width: 33%;
  opacity: 0;
  border-top-right-radius: 15%;
  border-bottom-right-radius: 15%;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.card-container-left:hover {
  -webkit-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05);
}

.card-container-left::after {
  opacity: 1;
}

.card-container-right {
  border-top-left-radius: 15%;
  border-bottom-left-radius: 15%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-left: 32px;
  max-width: 50px;
}

.card-container-right:hover {
  -webkit-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05);
}

.card-container-right::after {
  opacity: 1;
}

/* Container Rows */
.container-row {
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

/* Card Images Left / Right / Center*/
.card-content-left {
  width: 100%;
  height: 450px;
  border-radius: 15%;
  background-size: 100% 450px;
}

.card-content-left h1 {
  padding-top: 10%;
  color: black;
  font-weight: 600;
  text-align: center;
}

.card-content-left p {
  padding-top: 10%;
  color: black;
  font-weight: 350;
  font-size: 20px;
  text-align: center;
}

.card-content-left-img-1 {
  width: auto;
  height: auto;
  border-radius: 5%;
}

.card-content-right {
  width: 100%;
  height: 450px;
  border-radius: 15%;
  background-size: 100% 450px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.card-content-right h1 {
  padding-top: 10%;
  color: black;
  font-weight: 600;
  text-align: center;
}

.card-content-right p {
  padding-top: 10%;
  color: black;
  font-weight: 350;
  font-size: 20px;
  text-align: center;
}

.card-content-right-img-1 {
  height: 450px;
  border-radius: 5%;
  width: 100%;
}

.personal-text {
  max-width: 40%;
}

.personal-img {
  max-width: 60%;

}

card-content-left {
  width: 100%;
  height: 450px;
  border-radius: 15%;
  background-size: 100% 450px;
}

.card-content-left h1 {
  padding-top: 10%;
  color: black;
  font-weight: 600;
  text-align: center;
}

.card-content-left p {
  padding-top: 10%;
  color: black;
  font-weight: 350;
  font-size: 20px;
  text-align: center;
}

.card-content-left-img-1 {
  width: auto;
  height: auto;
  border-radius: 5%;
}

.card-content-right {
  width: 100%;
  height: 450px;
  border-radius: 15%;
  background-size: 100% 450px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.card-content-right h1 {
  padding-top: 10%;
  color: black;
  font-weight: 600;
  text-align: center;
}

.card-content-right p {
  padding-top: 10%;
  color: black;
  font-weight: 350;
  font-size: 20px;
  text-align: center;
}

.card-content-right-img-1 {
  height: 450px;
  border-radius: 5%;
  width: 100%;
}

.personal-text {
  max-width: 40%;
}

.personal-img {
  max-width: 60%;

}