<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.downbad.UITest.pages.TestLoginPage</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testSignIn</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testRollRightOccurs</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testRollLeftOccurs</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testSignUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>onClassStart</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>goTo</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>goToPage</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>onClassComplete</td>
<td>&nbsp;</td></tr>
</table>
