<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a5fe93">  <td>21/07/26 09:23:00</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestPOMPage.goTo()[pri:0, instance:com.downbad.UITest.pages.TestLoginPage@7b69c6ba]">&gt;&gt;goTo</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="a5fe93">  <td>21/07/26 09:23:00</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestPOMPage.goTo()[pri:0, instance:com.downbad.UITest.pages.TestLoginPage@7b69c6ba]">&gt;&gt;goTo</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="e3c998">  <td>21/07/26 09:23:00</td>   <td>1</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestLoginPage.goToPage()[pri:0, instance:com.downbad.UITest.pages.TestLoginPage@7b69c6ba]">&gt;&gt;goToPage</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="e3c998">  <td>21/07/26 09:23:00</td>   <td>1</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestLoginPage.goToPage()[pri:0, instance:com.downbad.UITest.pages.TestLoginPage@7b69c6ba]">&gt;&gt;goToPage</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="e3c998">  <td>21/07/26 09:23:00</td>   <td>10</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestLoginPage.onClassComplete()[pri:0, instance:com.downbad.UITest.pages.TestLoginPage@7b69c6ba]">&lt;&lt;onClassComplete</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="e3c998">  <td>21/07/26 09:22:59</td>   <td>-130</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestLoginPage.onClassStart()[pri:0, instance:com.downbad.UITest.pages.TestLoginPage@7b69c6ba]">&gt;&gt;onClassStart</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1640639994</td>   <td></td> </tr>
<tr bgcolor="e3c998">  <td>21/07/26 09:23:00</td>   <td>-4</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestLoginPage.testRollLeftOccurs()[pri:0, instance:com.downbad.UITest.pages.TestLoginPage@7b69c6ba]">testRollLeftOccurs</td> 
  <td>main@1640639994</td>   <td></td> </tr>
<tr bgcolor="e3c998">  <td>21/07/26 09:23:00</td>   <td>2</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestLoginPage.testRollRightOccurs()[pri:0, instance:com.downbad.UITest.pages.TestLoginPage@7b69c6ba]">testRollRightOccurs</td> 
  <td>main@1640639994</td>   <td></td> </tr>
</table>
