* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

h1, h2, h4 {
    text-align: center;
}

html {
    background-color: white;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
}

.flex-reverse {
    display: flex;
    flex-flow: row-reverse nowrap;
}

.flex {
    display: flex;
    flex-flow: row nowrap;
}

.flex-column {
    display: flex;
    flex-flow: column nowrap;
}

.body-image {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: fill;
}

.body-wrapper {
    padding-right: 10%;
    padding-left: 10%;
}

.nav-header {
    padding: 16px;
    width: 100%;
}

.nav-header > ul {
    display: flex;
    flex-flow: row-reverse nowrap;
    align-items: flex-end;
    list-style: none;
}

.nav-header > ul > li {
    width: auto;
}
  
.navbar-top {
    width: 100%;
}

.nav-header ul li a {
    padding: 16px;
    text-decoration: none;
    color: #444;
    font-size: 13px;
}

.horizontal-rule {
    width: 100%;
    margin: 32px 0 32px 0;
    border: 1px solid #444;
}


/* Action segment */
.action{
    position: fixed;
    top: 20px;
  }
  
  .action .profile
  {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
  }
  
  .action .profile img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .action .menu{
    position: absolute;
    top: 80px;
    padding: 10px 20px;
    width: 200px;
    box-sizing: 0 5px 25px rgba(0,0,0,0.1);
    border-radius: 15px;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
    background-color: rgb(77, 77, 77);
  }
  
  .action .menu.active{
    visibility: visible;
    opacity: 1;
  }
  
  .action .menu h3 {
    display: flex;
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding: 20px 0;
    font-weight: 500;
    font-size: 18px;
    color: white;
    line-height: 1.2em;
    flex-direction: column;
  }
  
  .action .menu h3 span{
    font-size: 14px;
    color: #cecece;
    font-weight: 400;
  }
  
  .action .menu::before{
    content: '';
    position: absolute;
    top: -5px;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    background-color: rgb(77, 77, 77);
  }
  
  .action .menu ul li{
    list-style: none;
    padding: 10px 0;
    border-top: 1px solid rgba(0,0,0,0.05);
    display: flex;
    align-items: center;
  }
    .action .menu ul li img{
      max-width: 20px;
      margin-right: 10px;
      opacity: 0.5;
      transition: 0.5s;
    }
  
    .action .menu ul li:hover img{
      opacity: 1;
    }
  
    .action .menu ul li a{
      display: inline-block; 
      text-decoration: none;
      color: white;  
      font-weight: 500; 
      transition: 0.5s;
    }
  
    .action .menu ul li a:hover{
  
      color: #6890fc;
    }
  