body {
  background: url("../img/svgs/Home2.svg");
  background-size: contain;
}

/* Container cards left */
.card-left-space {
  margin-top: 5vh;
  border-top-left-radius: 15%;
  border-bottom-left-radius: 15%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.card-container-text {
  width: 40%;
  border-top-right-radius: 15%;
  border-bottom-right-radius: 15%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-container-text::after {
  content: '';
  z-index: -1;
  position: absolute;
  width: 33%;
  opacity: 0;
  border-top-right-radius: 15%;
  border-bottom-right-radius: 15%;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.card-container-text:hover {
  -webkit-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05);
}

.card-container-text::after {
  opacity: 1;
}

.card-container-img {
  width: 60%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.card-container-img:hover {
  -webkit-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05);
}

.card-container-img::after {
  opacity: 1;
}

/* Container Rows */
.container-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: nowrap;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

.container-row-header {
  align-self: center;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.container-row-header-2 {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.container-row-header-2 {
  max-width: 100%;
  border-radius: 15%;
  margin: 32px;
}

/* Card Images Left / Right / Center*/
.card-content-left {
  width: 100%;
  border-radius: 15%;
}

.card-content-left h1 {
  padding-top: 10%;
  color: black;
  font-weight: 600;
  text-align: center;
}

.card-content-left p {
  padding-top: 10%;
  color: black;
  font-weight: 350;
  font-size: 20px;
  text-align: center;
}

/* Columns div */
.column-1 {
  align-self: center;
  width: 25%;
}

.column-1 p {
  text-align: left;
  color: #333;
}

.column-1 h4 {
  color: #444;
  text-align: left;
  padding-bottom: 8px;
}

.column-2 {
  max-width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

img {
  max-width: 100%;
}

.card-container-img > img, .column-2 > img, .container-row-header-2 > img {
  -webkit-transform: scale(0.9, 0.9);
  transform: scale(0.9, 0.9);
  border-radius: 5%;
}

.column-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 25%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.column-3 p {
  text-align: left;
  color: #333;
}

.column-3 h4 {
  color: #444;
  text-align: left;
}

/* Block Button Segments */
.header-button-block {
  padding: 32px;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.header-button-block h1 {
  line-height: 48px;
  color: #333;
  text-align: left;
  font-weight: 1000;
}

.header-button-block h2 {
  color: #555555;
  font-weight: 50;
}

.header-button-block .encrypt-button {
  width: 180px;
  height: 40px;
  font-size: 14px;
  margin-top: 15%;
  font-family: 'Bebas Neue', cursive;
  border-radius: 5px 25px;
  background: linear-gradient(45deg, transparent 5%, #FF013C 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  outline: transparent;
  position: relative;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.header-button-block .decrypt-button {
  width: 180px;
  height: 40px;
  font-size: 14px;
  margin-top: 15%;
  margin-left: 15%;
  font-family: 'Bebas Neue', cursive;
  border-radius: 5px 25px;
  border: 0;
  color: #FF013C;
  letter-spacing: 3px;
  outline: transparent;
  position: relative;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.header-button-block button:hover {
  -webkit-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05);
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}