.col-* {
    display: flex;
    flex-flow: column nowrap;
}

.col-3-* {
    height: 25%;
}
.col-9-* {
    height: 75%;
}

.col-8-* {
    height: 66%;
}
.col-4-* {
    height: 33%;
}

.col-6-* {
    height: 50%;
}
.col-12-* {
    height: 100%;
}

.row-* {
    display: flex;
    flex-flow: row nowrap;
}

.row-3-* {
    width: 25%;
}
.row-9-* {
    width: 75%;
}

.row-8-* {
    width: 66%;
}
.row-4-* {
    width: 33%;
}

.row-6-* {
    width: 50%;
}
.row-12-* {
    width: 100%;
}

body {
    background-color: white;
}

@media screen and (min-width: 800) {
    
    body {
        background-color: green;
    }
}

@media screen and (max-width: 1200) {
    
    body {
        background-color: blue;
    }
}

@media screen and (max-width: 1600) {
    
    body {
        background-color: red;
    }
}