body {
  background: url("/img/svgs/GreenTop.svg");
  background-size: cover;
}


html, body, .container-nav-top, .slides {
  /* height: 100%; */
}

.social-text {
  padding: 0.7rem 0;
  color: #333;
}

.social-media {
  margin-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.social-icon {
  height: 46px;
  width: 46px;
  border: 1px solid #333;
  margin: 0 .45rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
  color: #333;
  font-size: 1.3rem;
  border-radius: 50%;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.social-icon:hover {
  color: #20dbc2;
  border-color: #00bfa6;
}

/* Nav Bar */
.container-nav-top {
  height: 75%;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 1;
}

/* Container Rows */
.container-row {
  width: 100%;
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: space-evenly;
  padding: 0;
}

.decrypt-button-full {
  width: 180px;
  height: 40px;
  font-size: 14px;
  font-family: 'Bebas Neue', cursive;
  border-radius: 5px 25px;
  background: #FF013C 5%;
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  outline: transparent;
  position: relative;
  -webkit-transition: .2s ease-in-out;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.decrypt-button-full:hover {
  width: 180px;
  height: 40px;
  font-size: 14px;
  font-family: 'Bebas Neue', cursive;
  border-radius: 5px 25px;
  background: #376bff;
  border: 0;
  color: #FF013C 5%;
  letter-spacing: 3px;
  outline: transparent;
  position: relative;
  -webkit-transition: .2s ease-in-out;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

/* Encrypt-Pop up */
.drop-zone {
  width: 30%;
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
  color: #cccccc;
  border: 4px solid #009578;
  border-radius: 10px;
}

.drop-zone__input {
  display: none;
}

.scrollbar-style {
  overflow-x: auto;
  overflow-y: hidden;
  -ms-scroll-snap-type: x mandatory;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: thin;
}

.scrollbar-style::-webkit-scrollbar {
  max-width: 4px;
}

.slide-buttons {
  padding: 32px;
}

.slide-buttons > a {
  padding: 16px;
  margin: 4px;
  text-decoration: none;
  border-radius: 25px;
  background: #376bff;
  border: 0;
  color: #FF013C 5%;
  letter-spacing: 3px;
  outline: transparent;
  position: relative;
  -webkit-transition: .2s ease-in-out;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

/* Slider */
.slider {
  width: 50%;
  height: 100%;
  text-align: center;
}

.slides {
  height: 100%;
  /* display: -webkit-box; */
  display: -ms-flexbox;
  display: flex;
}

.slides::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.slides::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}

.slides::-webkit-scrollbar-track {
  background: transparent;
}

.slider-img {
  background-size: cover;
  background-position: center;
  min-width: 100%;
  height: 100%;
  border-radius: 16px;
  margin: 0 8px 0 8px;
  transform: scale(.95, .95);
}


.encrypt-button-full {
  width: 180px;
  height: 40px;
  font-size: 14px;
  margin-top: 15%;
  font-family: 'Bebas Neue', cursive;
  border-radius: 5px 25px;
  background: #FF013C 5%;
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  margin-top: 0;
  outline: transparent;
  position: relative;
  -webkit-transition: .2s ease-in-out;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.encrypt-button-full:hover {
  width: 180px;
  height: 40px;
  font-size: 14px;
  font-family: 'Bebas Neue', cursive;
  border-radius: 5px 25px;
  background: #2fb833;
  border: 0;
  color: #FF013C 5%;
  letter-spacing: 3px;
  outline: transparent;
  position: relative;
  -webkit-transition: .2s ease-in-out;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
