* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

html {
  background-color: rgb(34, 34, 34);
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

/* Form Input Styling */
.form__label {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: translateY(0rem);
          transform: translateY(0rem);
}

.form__input {
  font-family: 'Roboto', sans-serif;
  color: #333;
  font-size: 1.2rem;
  margin: 0 auto;
  padding: 1.5rem 2rem;
  border-radius: 0.2rem;
  background-color: white;
  border: none;
  width: 90%;
  display: block;
  border-bottom: 0.3rem solid transparent;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-4rem);
  transform: translateY(-4rem);
}

body {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-image: url("/img/svgs/EditProfile.svg");
  background-size: cover;
}

/* Action segment */
.action {
  position: fixed;
  top: 20px;
}

.action .profile {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
}

.action .profile img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.action .menu {
  position: absolute;
  top: 80px;
  padding: 10px 20px;
  width: 200px;
  -webkit-box-sizing: 0 5px 25px rgba(0, 0, 0, 0.1);
  box-sizing: 0 5px 25px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
  background-color: #4d4d4d;
}

.action .menu.active {
  visibility: visible;
  opacity: 1;
}

.action .menu h3 {
  width: 100%;
  text-align: center;
  font-size: 18px;
  padding: 20px 0;
  font-weight: 500;
  font-size: 18px;
  color: white;
  line-height: 1.2em;
}

.action .menu h3 span {
  font-size: 14px;
  color: #cecece;
  font-weight: 400;
}

.action .menu::before {
  content: '';
  position: absolute;
  top: -5px;
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #4d4d4d;
}

.action .menu ul li {
  list-style: none;
  padding: 10px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.action .menu ul li img {
  max-width: 20px;
  margin-right: 10px;
  opacity: 0.5;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.action .menu ul li:hover img {
  opacity: 1;
}

.action .menu ul li a {
  display: inline-block;
  text-decoration: none;
  color: white;
  font-weight: 500;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.action .menu ul li a:hover {
  color: #6890fc;
}

/* Nav Bar */
.container-nav-top {
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 1;
}

.navbar-top {
  height: 12%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 3%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.menu-icon {
  width: 30px;
  cursor: pointer;
  margin-left: 40px;
}

.nav-header-contain {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: right;
  -webkit-animation: none;
  animation: none;
  -webkit-transition: none;
  transition: none;
}

.primary-body-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.primary-body {
  background-color: #242831;
}

.nav-header {
  width: 100%;
  height: 100%;
  padding-right: 5%;
  padding-top: 5%;
}

.nav-header ul li {
  list-style: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-left: 60px;
  float: right;
}

.nav-header ul li a {
  text-decoration: none;
  color: #444;
  font-size: 13px;
}

/* Header Title / info for pictures */
.header-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
}

.header-title h2 {
  margin-top: 20%;
  color: #444;
  vertical-align: middle;
  font-size: 45px;
  font-weight: 600;
}

.info-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  width: 67%;
}

.info-text p {
  margin-top: 180px;
  margin-left: 50px;
  font-size: 24px;
  font-weight: 600;
  margin-right: 400px;
}

.header-info-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 45px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-left: 25%;
  width: 75%;
}

.header-info-text p {
  color: black;
  font-size: 24px;
  font-weight: 600;
  margin-right: 400px;
}

.info-text-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  width: 67%;
}

.info-text-right p {
  margin-top: 180px;
  margin-right: 50px;
  font-size: 24px;
  font-weight: 600;
  margin-left: 400px;
}

/* Container cards center */
.card-center-space {
  margin-top: 5vh;
  border-radius: 15%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.card-container-center {
  margin-top: 5vh;
  width: 33%;
  height: 450px;
  border-radius: 15%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.card-container-center::after {
  content: '';
  z-index: -1;
  position: absolute;
  width: 33%;
  opacity: 0;
  border-radius: 15%;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.card-container-center:hover {
  -webkit-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05);
}

.card-container-center::after {
  opacity: 1;
}

/* Container cards left */
.card-left-space {
  margin-top: 5vh;
  border-top-left-radius: 15%;
  border-bottom-left-radius: 15%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.card-container-left {
  padding-top: 20px;
  margin-top: 2vh;
  margin-bottom: 2vh;
  width: 40%;
  height: 450px;
  border-top-right-radius: 15%;
  border-bottom-right-radius: 15%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.card-container-left::after {
  content: '';
  z-index: -1;
  position: absolute;
  width: 33%;
  opacity: 0;
  border-top-right-radius: 15%;
  border-bottom-right-radius: 15%;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.card-container-left:hover {
  -webkit-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05);
}

.card-container-left::after {
  opacity: 1;
}

/* Container card rights */
.card-right-space {
  margin-top: 5vh;
  border-top-left-radius: 15%;
  border-bottom-left-radius: 15%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.card-container-right {
  margin-top: 2vh;
  padding-top: 20px;
  margin-bottom: 2vh;
  margin-left: 25px;
  width: 33%;
  border-top-left-radius: 15%;
  border-bottom-left-radius: 15%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.card-container-right:hover {
  -webkit-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05);
}

.card-container-right::after {
  opacity: 1;
}

/* Container Rows */
.container-row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

.container-row-encrypt {
  width: 100%;
  height: 100%;
  margin-top: 10%;
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.container-row-header {
  padding-top: 15%;
  padding-left: 15%;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.container-row-svg-red {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

.container-row-header {
  padding-top: 15%;
  padding-left: 15%;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.container-row-header-2 {
  padding-top: 15%;
  padding-right: 15%;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.container-row-right {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.container-row-white {
  height: 250px;
  width: 100%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Card Images Left / Right / Center*/
.card-content-left {
  width: 100%;
  height: 450px;
  border-radius: 15%;
  margin-right: 75px;
  background-size: 100% 450px;
}

.card-content-left h1 {
  padding-top: 10%;
  color: black;
  font-weight: 600;
  text-align: center;
}

.card-content-left p {
  padding-top: 10%;
  color: black;
  font-weight: 350;
  font-size: 20px;
  text-align: center;
}

.card-content-left-img-1 {
  width: 100%;
  height: 450px;
  border-radius: 5%;
  background-image: url("../img/city.jpg");
  background-size: 100% 450px;
}

.card-content-left-img-2 {
  width: 100%;
  height: 450px;
  border-top-right-radius: 15%;
  border-bottom-right-radius: 15%;
  background-image: url("../img/architecture-building-castle-402028.jpg");
  background-size: 100% 450px;
}

.card-content-right {
  width: 100%;
  height: 450px;
  border-radius: 15%;
  margin-left: 75px;
  background-size: 100% 450px;
}

.card-content-right h1 {
  padding-top: 10%;
  color: black;
  font-weight: 600;
  text-align: center;
}

.card-content-right p {
  padding-top: 10%;
  color: black;
  font-weight: 350;
  font-size: 20px;
  text-align: center;
}

.card-content-right-img-1 {
  height: 450px;
  margin-right: 10px;
  padding-right: 10px;
  border-radius: 5%;
  width: 100%;
  background-image: url("../img/architecture-building-castle-402028.jpg");
  background-size: 100% 450px;
}

.card-content-center {
  width: 80%;
  height: 450px;
  border-radius: 15%;
  margin-left: 75px;
  background-color: #20dbc2;
  background-size: 100% 450px;
}

/* Columns div */
.column-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 12%;
  height: 500px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 10px 0 10px 10px;
}

.column-1 p {
  text-align: left;
  color: #333;
}

.column-1 h4 {
  color: #444;
  text-align: left;
  padding-bottom: 8px;
}

.column-2 {
  margin-top: 8vh;
  width: 33%;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.column-2 img {
  -webkit-transform: scale(0.9, 0.9);
  transform: scale(0.9, 0.9);
  border-radius: 5%;
}

.column-2-crypt {
  margin-top: 8vh;
  width: 50%;
  height: 400px;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-shadow: #555555;
  box-shadow: #555555;
  border: #FF013C 1px solid;
}

.column-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 12%;
  height: 500px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 10px 0 10px 10px;
}

.column-3 p {
  text-align: left;
  color: #333;
}

.column-3 h4 {
  color: #444;
  text-align: left;
  width: 288px;
  padding-bottom: 8px;
}

/* Block Button Segments */
.header-button-block {
  padding-right: 20%;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.header-button-block h1 {
  line-height: 48px;
  color: #333;
  text-align: left;
  font-weight: 1000;
}

.header-button-block h2 {
  color: #555555;
  font-weight: 50;
}

.header-button-block .encrypt-button {
  width: 180px;
  height: 40px;
  font-size: 14px;
  margin-top: 15%;
  font-family: 'Bebas Neue', cursive;
  border-radius: 5px 25px;
  background: linear-gradient(45deg, transparent 5%, #FF013C 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  outline: transparent;
  position: relative;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.header-button-block .decrypt-button {
  width: 180px;
  height: 40px;
  font-size: 14px;
  margin-top: 15%;
  margin-left: 15%;
  font-family: 'Bebas Neue', cursive;
  border-radius: 5px 25px;
  border: 0;
  color: #FF013C;
  letter-spacing: 3px;
  outline: transparent;
  position: relative;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.header-button-block button:hover {
  -webkit-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05);
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.encrypt-button-full {
  width: 180px;
  height: 40px;
  font-size: 14px;
  margin-top: 15%;
  font-family: 'Bebas Neue', cursive;
  border-radius: 5px 25px;
  background: #319bff 5%;
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  margin-top: 0;
  outline: transparent;
  position: relative;
  -webkit-transition: .2s ease-in-out;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.encrypt-button-full:hover {
  width: 180px;
  height: 40px;
  font-size: 14px;
  font-family: 'Bebas Neue', cursive;
  border-radius: 5px 25px;
  background: #2fb833;
  border: 0;
  color: #49ff58 5%;
  letter-spacing: 3px;
  outline: transparent;
  position: relative;
  -webkit-transition: .2s ease-in-out;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.cancel-back-button {
  width: 180px;
  height: 40px;
  font-size: 14px;
  margin-top: 15%;
  font-family: 'Bebas Neue', cursive;
  border-radius: 5px 25px;
  background: #000000 5%;
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  margin-top: 0;
  outline: transparent;
  position: relative;
  -webkit-transition: .2s ease-in-out;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.cancel-back-button:hover {
  width: 180px;
  height: 40px;
  font-size: 14px;
  font-family: 'Bebas Neue', cursive;
  border-radius: 5px 25px;
  background: #ff5826;
  border: 0;
  color: #FF013C 5%;
  letter-spacing: 3px;
  outline: transparent;
  position: relative;
  -webkit-transition: .2s ease-in-out;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

/* Nav bar Footer Segmentation */
.nav-footer {
  position: fixed;
  bottom: 3vh;
  width: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  place-content: center;
  display: -ms-grid;
  display: grid;
}

.footer {
  height: 20%;
  width: 100%;
  background-image: url("../img/svgs/RedFoot.svg");
  background-size: cover;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translateX(275px);
  transform: translateX(275px);
  margin-left: 15px;
}

header .activator {
  padding: 1em;
  border-radius: 100%;
  cursor: point;
  background: #20dbc2;
  -webkit-transition: ease-in-out .4s;
  transition: ease-in-out .4s;
}

header .activator:hover {
  -webkit-transition: ease-in-out .4s;
  transition: ease-in-out .4s;
  background: #5289ff;
}

.img-icon {
  width: 100%;
  max-width: 30px;
}

.ul-footer {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-footer-float {
  background: #20dbc2;
  border-radius: 0 5em 5em 0;
  padding: .5em;
  -webkit-clip-path: ellipse(50% 50% at -50% 50%);
  clip-path: ellipse(50% 50% at -50% 50%);
}

.nav-footer-float ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-footer-float ul li a {
  display: block;
  padding: .5em;
  margin: 0 .5em;
  border-radius: 50%;
}

.nav-footer-float ul li a:hover {
  background: white;
}

.nav-footer-float ul li a img {
  opacity: 0;
  -webkit-transform: translateX(-10px);
  transform: translateX(-10px);
}

.profile-changes {
  width: 50%;
}

/* Encrypt-Pop up */
.drop-zone {
  width: 30%;
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
  color: #cccccc;
  border: 4px solid #009578;
  border-radius: 10px;
}

.drop-zone--over {
  border-style: solid;
}

.drop-zone__input {
  display: none;
}

.drop-zone__thumb {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  background-color: #cccccc;
  background-size: cover;
  position: relative;
}

.drop-zone__thumb::after {
  content: attr(data-label);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px 0;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.75);
  font-size: 14px;
  text-align: center;
}
/*# sourceMappingURL=ChangePassword.css.map */