body {
  background: url("/img/svgs/GreenTop.svg");
  background-size: cover;
}

/* Nav Bar */
.container-nav-top {
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 1;
}

/* Container Rows */
.container-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

.container-row-decrypt {
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.column-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 500px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 10px 0 10px 10px;
}

.column-3 p {
  text-align: left;
  color: #333;
}

.column-3 h4 {
  color: #444;
  text-align: left;
  width: 288px;
  padding-bottom: 8px;
}

.decrypt-button-full {
  width: 180px;
  height: 40px;
  font-size: 14px;
  font-family: 'Bebas Neue', cursive;
  border-radius: 5px 25px;
  background: #FF013C 5%;
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  outline: transparent;
  position: relative;
  -webkit-transition: .2s ease-in-out;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.decrypt-button-full:hover {
  width: 180px;
  height: 40px;
  font-size: 14px;
  font-family: 'Bebas Neue', cursive;
  border-radius: 5px 25px;
  background: #376bff;
  border: 0;
  color: #FF013C 5%;
  letter-spacing: 3px;
  outline: transparent;
  position: relative;
  -webkit-transition: .2s ease-in-out;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

/* Encrypt-Pop up */
.drop-zone {
  width: 60%;
  cursor: pointer;
  color: #cccccc;
  border: 4px solid #009578;
  border-radius: 10px;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  
  justify-content: center;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
  color: #cccccc;
  border: 4px solid #009578;
  border-radius: 10px;
}

.drop-zone__input {
  display: none;
}

.drop-zone__thumb {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}